<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimin.mapper.AddressPoolMapper">
  <resultMap id="BaseResultMap" type="com.yimin.domain.AddressPool">
    <!--@mbg.generated-->
    <!--@Table address_pool-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="coin_id" jdbcType="BIGINT" property="coinId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="keystore" jdbcType="VARCHAR" property="keystore" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="coin_type" jdbcType="VARCHAR" property="coinType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, coin_id, address, keystore, pwd, coin_type
  </sql>
</mapper>