<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimin.mapper.ForexCoinMapper">
  <resultMap id="BaseResultMap" type="com.yimin.domain.ForexCoin">
    <!--@mbg.generated-->
    <!--@Table forex_coin-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sort" jdbcType="TINYINT" property="sort" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, title, sort, `status`, last_update_time, created
  </sql>
</mapper>