<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimin.mapper.UserCoinFreezeMapper">
  <resultMap id="BaseResultMap" type="com.yimin.domain.UserCoinFreeze">
    <!--@mbg.generated-->
    <!--@Table user_coin_freeze-->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="coin_id" jdbcType="BIGINT" property="coinId" />
    <result column="freeze" jdbcType="DECIMAL" property="freeze" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, coin_id, `freeze`
  </sql>
</mapper>