<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimin.mapper.UserAuthInfoMapper">
  <resultMap id="BaseResultMap" type="com.yimin.domain.UserAuthInfo">
    <!--@mbg.generated-->
    <!--@Table user_auth_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="serialno" jdbcType="INTEGER" property="serialno" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="auth_code" jdbcType="BIGINT" property="authCode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, image_url, serialno, last_update_time, created, auth_code
  </sql>
</mapper>