// 颜色定义规范
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #000
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

$color-text-white = #fff
$color-text-nav =#fff

$color-footer-bg=#010101
$color-footer-subcolor=#AAABB1
$color-line-gray = #DCDCDC
$color-home-title = #1E2631
$color-home-gray = #999999

$color-global-purple = #7392FF
$color-global-border=#DCDCDC
$color-global-blue=#178FE3
$color-global-gray-text = #666666
$color-global-text-dark-bg = #F5F5F5
$color-global-text-dark= #333333
$color-global-text-light= #aaabb1

$color-global-text-gray= #999999

$color-global-tb-header-bg=#37424A
$color-global-tb-header-bg-light=#F5F5F5
$color-global-tb-header-text = #000
$color-global-get-code= #178FE3
$color-global-red = #F45758

$color-global-el-tb-border= #ebeef5
//交易界面
$color-trade-bg = #4E4F59
$color-header-tab = #7392FF
$color-trade-panel = #263037
$color-trade-text = #fff
$color-trade-text = #9BA2A8
$block-space = 4px

$color-global-buy= #f61f33
$color-global-sell= #0bb474
$color-global-middle-price=#f7ab00

// 个人中心
$color-usercenter-gray-text= #999999
$color-usercenter-main-text = #AAABB1

//资产管理
$color-global-btn-buy-bg = #03C086
$color-global-btn-sell-bg = #F45758
$color-finance-pay-bg = #EFF7FB

//创新交易
$color-global-exchange-bg=#202123

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px
$font-size-large-xx = 22px

