<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimin.mapper.AdminBankMapper">
  <resultMap id="BaseResultMap" type="com.yimin.domain.AdminBank">
    <!--@mbg.generated-->
    <!--@Table admin_bank-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
    <result column="coin_id" jdbcType="BIGINT" property="coinId" />
    <result column="coin_name" jdbcType="VARCHAR" property="coinName" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, bank_name, bank_card, coin_id, coin_name, `status`
  </sql>
</mapper>