<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimin.mapper.SysRolePrivilegeMapper">
  <resultMap id="BaseResultMap" type="com.yimin.domain.SysRolePrivilege">
    <!--@mbg.generated-->
    <!--@Table sys_role_privilege-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="privilege_id" jdbcType="BIGINT" property="privilegeId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_id, privilege_id
  </sql>
</mapper>