<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimin.mapper.WorkIssueMapper">
  <resultMap id="BaseResultMap" type="com.yimin.domain.WorkIssue">
    <!--@mbg.generated-->
    <!--@Table work_issue-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="answer_user_id" jdbcType="BIGINT" property="answerUserId" />
    <result column="answer_name" jdbcType="VARCHAR" property="answerName" />
    <result column="question" jdbcType="LONGVARCHAR" property="question" />
    <result column="answer" jdbcType="LONGVARCHAR" property="answer" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, answer_user_id, answer_name, question, answer, `status`, last_update_time, 
    created
  </sql>
</mapper>